.gallery{
    margin-top: 5%;
    
}

.gallery h3{
    font-size: 24px;
color: white;
}
.gallery small{
    font-size: 24px;
    color: white;
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 280px;
    height: 354px;
    background-color: rgba(255, 255, 255, 0.6);
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 5px;
    text-align: center;
    overflow-y: auto;
    

}
div.desc a{
    color: black;
    font-size: 16px;
}