input {
    margin-bottom: 10px;
}

.login {
    width: 25%;
    margin: auto;
    margin-top: 15%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: solid 1px;
    font-family: droid-sans, sans-serif;
}

body {
    background-color: #984b43;
}
.top-div{
    width: 80%;
    background-color: green;
    margin: auto;
    margin-top: 0;
}
.main-div{
    width: 80%;
}

.login a{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    color: black;
}

.footer{
    width: 80%;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    background-color: blue;
    text-align: center;
}