input {
    margin-bottom: 10px;
}

.login {
    width: 25%;
    margin: auto;
    margin-top: 25%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: solid 1px;
    font-family: droid-sans, sans-serif;
}

body {
    background-color: #984b43;
}

.login a{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    color: black;
}